<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Musicer</title>

		<meta charset="UTF-8-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />	
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jquery-tablepage-1.0.js' %}"></script>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Musicer</a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="../static/images/banner">
				<div class="inner">
					<h1>Musicer</h1>
					<p>找尋在你我生活中的每場音樂演出</p>
					<a href="#one" class="button special scrolly">開始</a>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2" >
				<div class="inner" >
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/pic01.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Lorem ipsum dolor</h2>
									<p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
								</header>
								<hr />
								<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								<p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3" >
				<div class="inner" >
					<div id="flexgrid" >
						<div>
							<header>
								<h3>Tempus Feugiat</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed </p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Sed Magna</h3>
							</header>
							<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		
		

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">加入活動</h2>
								<hr />
								<form action="#" method="post">
									{% csrf_token %}
									<div class="field first">
										<label for="name">活動名稱</label>
										<input id="name" name="name" type="text" placeholder="Name">
										
									</div>
									<div class="field">
										<label for="place">活動地點</label>
										<input id="place" name="place" type="text" placeholder="Place">
										
									</div>
									<div class="field half"> 
										 <label for="sdt">開始時間</label> 
										 <input id="sdt" name="sdt" type="datetime-local"> 
										
									</div>
									<div class="field half"> 
										 <label for="edt">結束時間</label> 
										 <input id="edt" name="edt" type="datetime-local"> 
										
									</div>
									<div class="field">
										<label for="place">活動網址</label>
										<input id="website" name="website" type="text" placeholder="Website">
										
									</div>
									<ul class="actions align-center">
										<li><input value="Add Activity" class="button special" type="submit"></li>
									</ul>

								</form>
							</div>
						</div>
					</section>
					
				</div>
			</footer>

			
			<section id="three" class="wrapper style2" >
				<div class="inner" >
					<div>
						<div class="box">
							<div class="content">
								<header class="align-center">
									<h2>活動列表</h2>
									<!-- <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p> -->
		
								</header>
								<hr />
								<table id="tbl" border="1">
									<thead>
										<tr>
											<th align="left">ID</th>
											<th align="left">Name</th>
										</tr>
									</thead>
									<tbody>
										{% for Activity in activity_list %}
											<tr>
											<td>{{ Activity.id }}</td>
											<td>{{ Activity.name }}</td>						
										{% endfor %} 
									</tbody>
								</table>
								<span id='table_page'></span>
							</div>
						</div>
					</div>
				</div>
			</section>
				
<script>
$("#tbl").tablepage($("#table_page"), 3);
</script>



			

	</body>
</html>