<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Musicer</title>

		<meta charset="UTF-8-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">		
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jquery-tablepage-1.0.js' %}"></script>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

	</head>
	<body>
	
	<script type="text/javascript">
	url = location.href;
	if(url == "http://127.0.0.1:8000/search/"){
	window.location.hash = "#three";
	}
	</script>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Musicer</a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner">
				<video loop="true" autoplay="autoplay" muted="true">
					<source src="{% static 'images/banner.webm' %}" type="video/webm">
					<source src="{% static 'images/banner.mp4' %}" type="video/mp4">
				</video>
				
				<div class="inner">
					<h1>Musicer</h1>
					<p>找尋在你我生活中的每場音樂演出</p>
					<a href="#one" class="button special scrolly">開始</a>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2" >
				<div class="inner" >
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/pic01.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">

									<p></p>
								</header>
								<hr />
								<p></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3" >
				<div class="inner" >
					<div id="flexgrid" >
						<div>
							<header>
								<h3> </h3>
							</header>
							<p></p>
							<ul class="actions">
								<li><a href="#" class="button alt"> </a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3> </h3>
							</header>
							<p>  </p>
							<ul class="actions">
								<li><a href="#" class="button alt"> </a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3> </h3>
							</header>
							<p> </p>
							<ul class="actions">
								<li><a href="#" class="button alt"> </a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		
		

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">加入活動</h2>
								<hr />
								<form action="http://127.0.0.1:8000/" method="post">
									{% csrf_token %}
									<div class="field first">
										<label for="name">活動名稱</label>
										<input id="name" name="name" type="text" placeholder="Name">
										
									</div>
									<div class="field">
										<label for="place">活動地點</label>
										<input id="place" name="place" type="text" placeholder="Place">
										
									</div>
									<div class="field half"> 
										 <label for="sdt">開始時間</label> 
										 <input id="sdt" name="sdt" type="datetime-local"> 
										
									</div>
									<div class="field half"> 
										 <label for="edt">結束時間</label> 
										 <input id="edt" name="edt" type="datetime-local"> 
										
									</div>
									<div class="field">
										<label for="place">活動網址</label>
										<input id="website" name="website" type="text" placeholder="Website">
										
									</div>
									<ul class="actions align-center">
										<li><input value="Add Activity" class="button special" type="submit"></li>
									</ul>

								</form>
							</div>
						</div>
					</section>
					
				</div>
			</footer>

			
			<section id="three" class="wrapper style2" >
				<div class="inner" >
					<div>
						<div class="box">
							<div class="content">
								<header class="align-center">
									<h2>活動列表</h2>
									<form action="http://127.0.0.1:8000/search/" method="post">
									{% csrf_token %}
										<div class="searchbox">
											<div class="search">
												<input type="text" name="search" id="search" placeholder="Search..." />
												<input value="" style="border:1px #ddabf2 solid;" class="button search_bt" type="submit">
											</div>
										</div>
									</form>
								</header>
								<hr />

								<table id="tbl" border="1">
									<thead>
										<tr>
											<th align="left">ID</th>
											<th align="left">Name</th>
										</tr>
									</thead>
									<tbody>
										{% for Activity in activity_list %}
											<tr>
											<td>{{ Activity.pk }}</td>
											<td><a href="{% url 'activity_detail' pk=Activity.pk %}">{{ Activity.name }}</a></td>						
										{% endfor %} 
									</tbody>
								</table>
								<span id='table_page'></span>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		
	<section id="four" class="wrapper style2" >		
	
		<div class="inner" >
			<div>
				<div class="box">
						<div class="content">
							<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
							<div id="map"></div>
						</div>
				</div>
			</div>
		</div>

		<script>
			function initMap() {
				var Station_latlng = { lat: 24.9984377, lng: 121.5073815 }; // 台北車站的經緯度
				var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 17, //放大的倍率
				center: Station_latlng //初始化的地圖中心位置
			});

        //--------下面是呼叫一個新marker------

			var marker = new google.maps.Marker({
				position: Station_latlng, //marker的放置位置
				map: map //這邊的map指的是第四行的map變數
			});

		}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiRYRSSzA-W9kQFwsYUKOCDeaTdBB3grk&callback=initMap">
		</script>
	</section>
			
			
			
			
			
			
			
			

				
<script>
$("#tbl").tablepage($("#table_page"), 5);
</script>






	</body>
</html>